footer {
	display:block;
	width:100%;
	height: 890px;
	margin:0 0 0;
	padding:0 0 0;
	background: #565659;
	h2{
	 display: block;
	 position: relative;
	 overflow: hidden;
	 width: 100%;
	 top: 70px;
	text-align: center;
	font-stretch: ultra-condensed;
	@include common_block_h;
	color: $second_button_color;
	font-size: 36px;
 }
}

@media (min-width: 768px) and (max-width: 1365px) {
	footer {
		h2{
		 top: 40px;
	 }
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	footer {
		h2{
		 top: 20px;
	 }
	}
}
